body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
  animation: gradient 10s infinite;
  position: absolute;
  z-index: 1;
}

@keyframes gradient {
  0% {
    transform: rotate(0deg) scale(2.5);
  }

  50% {
    transform: rotate(180deg) scale(3);
  }

  100% {
    transform: rotate(360deg) scale(2.5);
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(40px);
  z-index: 2;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: #ffffff;
  box-shadow: inset 0 0 5px 1px #00000020;
  font-size: 15px;
}

input:focus {
  outline: none;
  border: 1px solid rgb(91, 91, 252);
}

button {
  padding: 10px 20px;
  background-color: rgb(91, 91, 252);
  color: #ffffff;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: all 300ms;
}

button:hover {
  transform: scale(1.1);
}


span {
  font-size: 15px;
}

.switch {
  color: rgb(91, 91, 252);
  cursor: pointer;
}


.success {
  color: rgb(104, 180, 34)
}

.failure {
  color: rgb(231, 80, 80)
}